{# template database.html #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/database.css') }}">
    <title>QRCode-Generator | Staff Record</title>
</head>

<body>
<!-- database Header -->
<main>

<div class="db-header">
    <a href="{{ url_for('views.home') }}" class="rtn-lnk">
        <img src="../static/img/icon-arr-up-right.svg" alt="" class="bck-arrow">
    </a>
    <div class="header-desc">
      <img src="../static/img/kogi-logo.svg" alt="" class="logo-db">
    
      <div class="hdn">
          <h1 class="hdn1">Kogi State Universal Basic Education Board (KSUBEB) Staff Database</h1>
          <h1 class="hdn2">Manage all staff ID</h1>
      </div>
    </div>

</div>

<!-- search-bar -->
  <form method="post" action="{{ url_for('views.search')}}" class="ui-search">
    <input type="text" name="search" placeholder="Enter Staff ID NO." class="search-input">
  </form>

<!-- database-records -->
<table class="ui-basic-table">
  <thead>
    <th class="serial">S/N</th>
    <th class="number">Staff Number</th>
    <th class="lga">LGA</th>
    <th>Download</th>
    <th>Delete</th>
    <!-- Add more table headers for other fields as needed -->
  </thead>
  {% for entry in entries %}
  <tr>
    <td>{{ entry.id }}</td>
    <td>{{ entry.file_number }}</td>
    <td>{{ entry.local_govt }}</td>
    <td>
      <a href="{{ url_for('views.download_records', file_number=entry.file_number) }}">
        <img src="../static/img/download.png" alt="download" class="dnld">
      </a>
    </td>
    <td>
      <a href="{{ url_for('views.delete_records', id=entry.id) }}">
        <img src="../static/img/delete.png" alt="delete" class="dnld">
      </a>
    </td>
    <!-- Render other fields for the entry -->
  </tr>
  {% endfor %}
</table>
</main>


<!-- javscript -->
<!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="../static/js/app.js"></script> -->

<!-- <footer>
  <p class="copyright">&copy;2024 <strong><span>KSUBEB</span></strong>. All rights reserved</p>
  <p class="credits">Designed by InnofyTeam</p>
</footer> -->
</body>

</html>