{# templates/auth.html #}
{% extends 'layout.html' %}

{% block content %}
<div class="auth">
    <h2 class="adm-lg">Admin login</h2>
    <p class="wc">Welcome</p>
    <p class="lg-db">Login to manage staff database</p>
    <div class="auth-info">
        <label for="emailAddress">User ID</label>
        <input type="email">
        <label for="">Password</label>
        <input type="password">
        <div class="rem-me">
            <input type="checkbox" value="" id="">
            <label for="">Remember me</label>
        </div>
        <button class="btn-login">Login</button>
    </div>
</div>
{% endblock content %}