{# template database.html #}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/database.css') }}">
</head>

<!-- database Header -->
<div class="db-header">
    <a href="" class="rtn-lnk">
        <img src="../static/img/icon-arr-up-right.svg" alt="" class="bck-arrow">
    </a>
    
    <img src="../static/img/kogi-logo.svg" alt="" class="logo-db">
    
    <div class="hdn">
        <h1 class="hdn1">Kogi State Universal Basic Education Board (KSUBEB) Staff Database</h1>
        <h1 class="hdn2">Manage all staff ID</h1>
    </div>
</div>

<!-- search-bar -->
<div class="ui-search">
    <div class="ui-icon-input">
      <input class="prompt" type="text" placeholder="Enter Staff ID NO.">
      <i class="search-icon"></i>
    </div>
    <div class="results"></div>
</div>

<!-- database-records -->
<table class="ui-basic-table">
    <thead>
      <tr>
        <th>S/N</th>
        <th>Staff ID No</th>
        <th>Download</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>73659</td>
        <td>Download</td>
        <td>Delete</td>
      </tr>
      <tr>
        <td>2</td>
        <td>37659</td>
        <td>Download</td>
        <td>Delete</td>
      </tr>
      <tr>
        <td>3</td>
        <td>63759</td>
        <td>Download</td>
        <td>Delete</td>
      </tr>
    </tbody>
  </table>
{% block content %}
{% endblock %}