{# templates/upload.html #}
{% extends 'layout.html' %}
{% block content %}
    {% include 'nav.html' %}
    {% include 'title.html' %}
    <h3 class="id-upload">Upload Image</h3>
    <form action="{{ url_for('uploads.upload_file') }}" method="POST" enctype="multipart/form-data">
        <input type="file" name="file" accept=".png, .jpg, .jpeg" required>
        <input type="text" name="file_number" placeholder="Enter Staff Number" required>
        <select name="local_govt" required>
            <option value="" selected disabled>Select L.G.A</option>
            <option value="Adavi">Adavi</option>
            <option value="Ajaokuta">Ajaokuta</option>
            <option value="Ankpa">Ankpa</option>
            <option value="Bassa">Bassa</option>
            <option value="Dekina">Dekina</option>
            <option value="Ibaji">Ibaji</option>
            <option value="Idah">Idah</option>
            <option value="Igalamela">Igalamela</option>
            <option value="Ijumu">Ijumu</option>
            <option value="Kabba/Bunu">Kabba/Bunu</option>
            <option value="Koton Karfe">Koton Karfe</option>
            <option value="Lokoja">Lokoja</option>
            <option value="Mopa-Muro">Mopa-Muro</option>
            <option value="Ofu">Ofu</option>
            <option value="Ogori/Magongo">Ogori/Magongo</option>
            <option value="Okehi">Okehi</option>
            <option value="Okene">Okene</option>
            <option value="Olamaboro">Olamaboro</option>
            <option value="Omala">Omala</option>
            <option value="Yagba East">Yagba East</option>
            <option value="Yagba West">Yagba West</option>
        </select>
        <input type="submit" value="Generate">
    </form>
{% endblock content %}

