*,
*::before,
*::after {
  box-sizing: border-box;
}

/* mobile friendly alternative to using background-attachment: fixed */
/* body::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-size: cover;
} */

/* Default styles for all screen sizes */
body {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  opacity: 1;
}

header, 
footer {
  margin: 0 auto;
  text-align: center;
}

header {
  width: fit-content;
}

footer {
  bottom: 0;
  font-family: Futura Md BT;
  font-size: 25px;
  font-style: normal;
  line-height: 2px;
  color: #000000;
}

h1 {
  /* width: 638px;
  height: 68px; */
  text-align: center;
  text-transform: uppercase;
  font-family: Futura Md BT Bold;
  font-size: 34px;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0px;
  color: #707070;
}

.logo {
  width: 150px;
  height: 150px;
  display: block;
  margin-top: 51px;
  margin-left: auto;
  margin-right: auto;
}

.navbar {
  align-self: center;
  font-family: Futura Md BT;
  font-size: 28px;
  margin-top: 23px;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar li {
  display: inline;
  margin-right: 30px; /* Adjust spacing between items */
}

.navbar a {
  text-decoration: none;
  color: #707070; /* Link color */
}

.navbar a:hover {
  color: #000000; /* Link color on hover */ 
}

.title-2 {
  text-align: center;
  font-family: Reina Neue;
  font-size: 64px;
  font-weight: normal;
  color: #707070;
}

/* .qrcode {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  width: 268px;
  height: 268px;
} */
/* Styles for screens with a maximum width of 768px (e.g., tablets) */
@media (max-width: 768px) {
  body {
      background-color: green;
  }
}

/* Styles for screens with a maximum width of 576px (e.g., smartphones) */
@media (max-width: 576px) {
  body {
      background-color: red;
  }
}