Flask~=3.0.3
Flask-Cors~=5.0.0
Flask-JWT-Extended~=4.6.0
Flask-SQLAlchemy
Flask-WTF
gunicorn
Jinja2
pypng
PyQRCode~=1.2.1
qrcode
requests
typing_extensions
Werkzeug~=3.0.4
WTForms
Flask-Login~=0.6.3
SQLAlchemy~=2.0.35
Flask-Migrate~=4.0.7